* {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  letter-spacing: 1.5px;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: 2px;
}

/* Navigation */

.mobile {
  display: none;
}

header {
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 1;
  height: 64px;
  background-color: #14213d;
}

header a {
  text-transform: uppercase;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 24px;
  flex-grow: 1;
  text-transform: uppercase;
}

.title-first {
  font-weight: 600;
  padding-left: 5px;
  padding-right: 2.5px;
  color: #fdc500;
}

.title-second {
  font-weight: 100;
  color: #ffffff;
}
.desktop {
  display: flex;
  align-items: center;
  padding-right: 24px;
}

.desktop span {
  margin-left: 16px;
}

@media only screen and (max-width: 630px) {
  .logo {
    display: none;
  }
  .desktop {
    display: none;
  }

  .mobile {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

/* Hero Section */
.hero {
  display: flex;
  position: relative;
  top: 64px;
  background-color: #ffffff;
}

.container-left {
  width: 60%;
  margin: 32px 24px;
}

.container-left img {
  width: 100%;
}

.container-right {
  margin: 32px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-right: 75px;
}

.container-right h1,
p {
  margin-bottom: 24px;
}

button {
  background-color: #14213d;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover {
  opacity: 0.5;
}

@media only screen and (max-width: 630px) {
  .hero {
    flex-direction: column;
  }
  .container-left {
    width: 100%;
    margin: 0px;
  }

  .container-right {
    margin: 32px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-right: 0px;
  }

  button {
    width: 25%;
  }
}

/* Information Section */

.information {
  display: flex;
  position: relative;
  top: 64px;
  background-color: rgb(235, 232, 232);
}
.information-container-left {
  width: 60%;
  margin: 32px 24px;
  display: flex;
  flex-direction: column;
}

.information-container-left img {
  width: 100%;
}

.information-content h3 {
  padding: 32px 0px 24px 0px;
}

.information-container-right {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
}

.article-image-mobile {
  display: none;
}

.article {
  display: flex;
}

.article-image {
  width: 35%;
  padding: 0px 16px 16px 16px;
}

.article-image img {
  width: 100%;
}

.article-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.article-text h3,
p {
  margin-bottom: 8px;
}

@media only screen and (max-width: 630px) {
  .information-container-left {
    display: none;
  }

  .information-container-right {
    width: 100%;
    margin: 16px;
  }

  .article {
    flex-direction: column;
  }

  .article-image {
    display: none;
  }

  .article-image-mobile {
    display: flex;
  }
  .article-image-mobile img {
    width: 100%;
  }

  .article-text {
    margin-bottom: 32px;
  }
}

/* Courses Section */

.courses {
  position: relative;
  top: 64px;
  background-color: rgb(248, 245, 245);
}

.courses-title {
  text-align: center;
  padding: 32px 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
  padding: 0px 72px 32px;
}

.grid-image {
  width: 100%;
}

.grid-image img {
  width: 100%;
}

.course-content h3 {
  padding: 16px 0px;
}

.course-content h5 {
  padding: 8px 0px;
}

@media only screen and (max-width: 630px) {
  .grid-container {
    grid-template-columns: 1fr;
    padding: 0px 16px 32px;
  }
}

/* Thesis Section */

.thesis {
  position: relative;
  top: 64px;
  background-color: rgb(235, 232, 232);
}

.thesis h1 {
  text-align: center;
  padding: 32px 0px;
}

.thesis-container {
  display: flex;
}

.thesis-container-left {
  width: 60%;
  margin: 0px 24px;
  display: flex;
  flex-direction: column;
}

.thesis-container-left video {
  width: 100%;
}

.thesis-content h3 {
  padding: 24px 0px 18px;
}

.thesis-content p {
  padding-bottom: 32px;
}

@media only screen and (max-width: 630px) {
  .thesis-content {
    display: none;
  }

  .thesis-container-right {
    display: none;
  }

  .thesis-container-left {
    width: 100%;
    margin: 0px 0px 32px;
    display: block;
  }
}

/* Footer */

footer {
  position: relative;
  top: 64px;
  background-color: #14213d;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
}

.footer-links {
  display: flex;
}

.footer-content h6 {
  color: #ffffff;
}

.link {
  margin-right: 10px;
}

@media only screen and (max-width: 630px) {
  .footer-content {
    flex-direction: column-reverse;
  }

  .footer-links {
    display: none;
  }
}
